{% if page.comments %}
    <!-- duoshuo.com javascript include code. -->    
    {% if site.duoshuo_url %}
      <div class="post-area post comment">
        <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="{{ site.duoshuo_url }}{{ page.url }}"></div>
      </div>
	  <script type="text/javascript">
		var duoshuoQuery = {short_name:"{{ site.duoshuo_shortname }}"};
		(function() {
		  var ds = document.createElement('script');
		  ds.type = 'text/javascript';ds.async = true;
		  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
		  ds.charset = 'UTF-8';
		  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
	  </script>
	{% endif %}
    <!-- disqus.com javascript include code. -->
	{% if site.disqus_url %}
    <div class="post-area post comment">
        <div id="disqus_thread"></div>
    </div>
	<script>
		var disqus_config = function () {
			this.page.url = "{{ site.disqus_url }}{{ page.url }}"; 
			this.page.identifier = "{{ page.id }}"; 
		};
		(function() {
			var d = document, s = d.createElement('script');
			s.src = '//{{ site.disqus_shortname }}.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
	{% endif %}
{% endif %}  

<h4 id="같이-보기">책 소개</h4>

<p><img src="https://tykimos.github.com/images/book_title.jpg" alt="img" /></p>
<p><a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?ejkGb=KOR&amp;mallGb=KOR&amp;barcode=9788960882133&amp;orderClick=LAG&amp;Kc=#N">교보문고</a> <a href="http://www.yes24.com/24/goods/49867702?scode=032&amp;OzSrank=4">YES24</a> <a href="http://www.bandinlunis.com/front/product/detailProduct.do?prodId=4108153">반디앤루이스</a> <a href="http://www.aladin.co.kr/shop/wproduct.aspx?ItemId=118349212">알라딘</a> <a href="http://shopping.interpark.com/product/productInfo.do?prdNo=5164576976&amp;dispNo=008001082&amp;pis1=shop&amp;pis2=product">인터파크</a></p>
<p>[추천사]</p>
<ul>
  <li><strong>하용호</strong>님, 카카오 데이터사이언티스트 - 뜬구름같은 딥러닝 이론을 블록이라는 손에 잡히는 실체로 만져가며 알 수 있게 하고, 구현의 어려움은 케라스라는 시를 읽듯이 읽어내려 갈 수 있는 라이브러리로 풀어준다.</li>
  <li><strong>이부일</strong>님, (주)인사아트마이닝 대표 - 여행에서도 좋은 가이드가 있으면 여행지에 대한 깊은 이해로 여행이 풍성해지듯이 이 책은 딥러닝이라는 분야를 여행할 사람들에 가장 훌륭한 가이드가 되리라고 자부할 수 있다. 이 책을 통하여 딥러닝에 대해 보지 못했던 것들이 보이고, 듣지 못했던 것들이 들리고, 말하지 못했던 것들이 말해지는 경험을 하게 될 것이다.</li>
  <li><strong>이활석</strong>님, 네이버 클로바팀 - 레고 블럭에 비유하여 누구나 이해할 수 있게 쉽게 설명해 놓은 이 책은 딥러닝의 입문 도서로서 제 역할을 다 하리라 믿습니다.</li>
  <li><strong>김진중</strong>님, 야놀자 Head of STL - 복잡했던 머릿속이 맑고 깨끗해지는 효과가 있습니다.</li>
  <li><strong>이태영</strong>님, 신한은행 디지털 전략부 AI LAB - 기존의 텐서플로우를 활용했던 분들에게 바라볼 수 있는 관점의 전환점을 줄 수 있는 Mild Stone과 같은 책이다.</li>
  <li><strong>전태균</strong>님, 쎄트렉아이 - 케라스의 특징인 단순함, 확장성, 재사용성을 눈으로 쉽게 보여주기 위해 친절하게 정리된 내용이라 생각합니다.</li>
  <li><strong>유재준</strong>님, 카이스트 - 바로 적용해보고 싶지만 어디부터 시작할지 모를 때 최선의 선택입니다.</li>
</ul>