<header class="header">
	<div class="header-container">
		<div class="nav">
			{% if page.path == "index.html" %}
			<span class="title">
				<li>
					<a href="{{ "/index.html" | prepend: site.baseurl }}">전체</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ "/index.html" | prepend: site.baseurl }}">전체</a>
				</li>			
			{% endif %}
			{% if page.path == "lecture.md" %}
			<span class="title">
				<li>
					<a href="{{ "/lecture" | prepend: site.baseurl }}">케라스</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ "/lecture" | prepend: site.baseurl }}">케라스</a>
				</li>			
			{% endif %}                
			{% if page.path == "seminar.md" %}
			<span class="title">
				<li>
					<a href="{{ "/seminar" | prepend: site.baseurl }}">세미나</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ "/seminar" | prepend: site.baseurl }}">세미나</a>
				</li>			
			{% endif %}					          
			{% if page.path == "about.md" %}
			<span class="title">
				<li>
					<a href="{{ "/about" | prepend: site.baseurl }}">김태영</a>
				</li>
			</span>			
			{% else %}
				<li>
					<a href="{{ "/about" | prepend: site.baseurl }}">김태영</a>
				</li>			
			{% endif %}			
		</div>
		<div class="description">
			둘러보기 |
			<a href="https://www.facebook.com/groups/KerasKorea/" target="_blank">케라스 코리아</a> |
			<a href="https://www.facebook.com/groups/KaggleKoreaOpenGroup/" target="_blank">캐글 코리아</a> |
			<a href="https://www.facebook.com/groups/ReinforcementLearningKR/" target="_blank">RL 코리아</a> |
			<a href="https://paperswithcode.com/" target="_blank">논문+코드</a> |
		</li>
</div>			
	</div>
</header>
